.skillBlock {
    height: 100vh;
    background-color: rgba(182, 215, 165, 0.82);
}

.skillsContainer {
    /*align-items: flex-start;*/
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}